<%= javascript_include_tag "members/sign_up" %>
<%= stylesheet_link_tag "members/sign_up"%>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Display Name" %><br />
    <%= f.text_field :name, :data => {:remote => true}, "data-url" => "/members/member_name_check", "data-type" => :json%>
    <span id="member_name_check">&nbsp;</span>
  </div>
    
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label :twitter %><br />
    <%= f.text_field :twitter %></div>
    
  <div><%= f.label :github, "github" %><br />
    <%= f.text_field :github %></div>
    
  <div><%= f.label :blogrss, "Blog RSS" %><br />
    <%= f.url_field :blogrss %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>