<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>
    
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label :twitter %><br />
    <%= f.url_field :twitter %></div>
    
  <div><%= f.label :github, "github" %><br />
    <%= f.url_field :github %></div>
    
  <div><%= f.label :blogrss, "Blog RSS" %><br />
    <%= f.url_field :blogrss %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
