<%= javascript_include_tag "members/devise_styles" %>
<%= stylesheet_link_tag "members/devise_styles" %>

<div id="devise_signup">
  <h2>Sign up</h2>
  <%= render 'd_errors' %>
  <%= form_for(:member, :as => :create, :url => '/members', :html => {:novalidate => 'novalidate', :multipart => true}) do |f| %>
    <%= raw negative_captcha(@captcha) %>
    <%= devise_error_messages! %>

    <div>
      <%= negative_label_tag(@captcha, :name, 'Display Name') %><br />
      <%= negative_text_field_tag @captcha, :name %>
    </div>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :data => {:remote => true, :url => "/members/email_check", :type => :json}%>
      <div class="email new" id="email_status"></div>
      <span id="email_check">&nbsp;</span>
    </div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, :remote => true %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :twitter %><br />
      <%= f.text_field :twitter, :data => {:remote => true, :url => "/members/twitter_check", :type => :json} %>
      <div class="twitter new" id="twitter_status"></div>
      <span id="twitter_check">&nbsp;</span>
    </div>

    <div><%= f.label :github, "Github" %><br />
      <%= f.text_field :github, :data => {:remote => true, :url => "/members/github_check", :type => :json} %>
      <div class="github new" id="github_status"></div>
      <span id="github_check">&nbsp;</span>
    </div>

    <div><%= f.label :blogrss, "Blog Atom RSS (ex: http://www.ryanonrails.com/feed/atom)" %><br />
      <%= f.url_field :blogrss, :data => {:remote => true, :url => "/members/blogrss_check", :type => :json} %>
      <div class="blogrss new" id="blogrss_status"></div>
      <span id="blogrss_check">&nbsp;</span>
    </div>

    <div id="avatar_type">
      Pick the avatar you'd like to represent you: <br />
      <%= f.select "avatar_type", options_for_select([ "Gravatar", "Twitter" ], "Gravatar") %>
    </div>

    <div id="submit"><%= f.submit "Sign up" %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
  <% end %>
</div>