<div class='memberSection' onclick="ShowLinks(this)">
  <div class='profileImage'>
    <img src=<%="http://localhost:3000/members/member_image/" + member_id %> />
  </div>
  
  <div class='name'>
    <%= github_member.name %>
  </div>
  <div class='date'>
    <%= FormatUtcDate(date) %>
  </div>

  <div class='bottomRow'>
    <div class='memberLinks'>
      <% if (github_member.twitter) { %>
        <a href=<%= "https://twitter.com/" + github_member.twitter %> target="_blank">
          <img src="assets/twitter_icon.png" />
        </a>
      <% } %>
      <% if (github_member.github) { %>
        <a href=<%= "https://github.com/" + github_member.github %> target="_blank">
          <img src="assets/github_icon.png" />
        </a>
      <% } %>
      <% if (github_member.blogrss) { %>
        <a href=<%= github_member.blogrss %> target="_blank">
          <img src="assets/blog_icon.png" />
        </a>
      <% } %>
    </div>
  </div>
  
</div>

<%= event %>