<div class='memberSection' onclick="ShowLinks(this)">
  <div class='profileImage'>
    <img src=<%="http://localhost:3000/members/member_image/" + member_id %> />
  </div>
  
  <div class='name'>
    <%= blog_member.name %>
  </div>
  <div class='date'>
    <%= FormatUtcDate(date) %>
  </div>
  
  <div class='bottomRow'>
    <div class='memberLinks'>
      <% if (blog_member.twitter) { %>
        <a href=<%= "https://twitter.com/" + blog_member.twitter %> target="_blank">
          <img src="assets/twitter_icon.png" />
        </a>
      <% } %>
      <% if (blog_member.github) { %>
        <a href=<%= "https://github.com/" + blog_member.github %> target="_blank">
          <img src="assets/github_icon.png" />
        </a>
      <% } %>
      <% if (blog_member.blogrss) { %>
        <a href=<%= blog_member.blogrss %> target="_blank">
          <img src="assets/blog_icon.png" />
        </a>
      <% } %>
    </div>
  </div>

</div>

<p class='itemTitle'>
  <a href="<%= url %>" target="_blank"><%= title %></a>
</p>
<p class='itemDetail'>
  <%= summary %>
</p>