
<table>
  <th>Name</th>
  <th>Email</th>
  <th>Twitter</th>
  <th>Tweet Count</th>
  <th>Github</th>
  <th>Blog RSS</th>
  <th>Status</th>
  <th>Is Admin?</th>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.email %></td>
      <td><%= member.twitter %></td>
      <td><%= member.tweets.count %></td>
      <td><%= member.github %></td>
      <td><%= member.blogrss %></td>
      <td><%= member.status %></td>
      <td><%= member.admin %></td>
    </tr>
  <% end %>
</table>
