#admin_members
  - @members.each do |member|
    %table
      %th
        %tr
          %td
            = "Name  :  #{member.name}"
        %tr
          %td
            = "Email  :  #{member.email}"
        %tr
          %td
            = "Twitter  :  #{member.twitter}"
        %tr
          %td
            = "Github  :  #{member.github}"
        %tr
          %td
            = "Blog RSS  :  #{member.blogrss}"
        %tr
          %td
            = "Admin?  : #{member.admin}"
        %tr
          %td
            = button_to "Approve Member", { :action => "approve", :id => member.id }, :method => :put


    


        


